<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>知识图谱可视化——made by计月清风实践队</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/images/头像2.png">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../static/css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="../static/css/nifty-demo.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">



    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../static/css/pace.min.css" rel="stylesheet">

    <script src="../static/js/pace.min.js"></script>



    <!--jQuery [ REQUIRED ]-->
    <script src="../static/js/jquery-2.2.4.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="../static/js/bootstrap.min.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="../static/js/nifty.min.js"></script>
    <script src="../static/js/icons.js"></script>


    <script src="../static/js/echarts.min.js"></script>


    <!--=================================================-->

    <!--Demo script [ DEMONSTRATION ]-->
    <script src="../static/js/nifty-demo.min.js"></script>


</head>

<body>

    <div id="container" class="effect aside-float aside-bright mainnav-sm">

        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="{{ url_for('index') }}" class="navbar-brand"
                        style="background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);">
                        <img src="../static/images/头像1.png" alt="Nifty Logo" class="brand-icon">
                        <div class="brand-title">
                            <span class="brand-text">计月清风实践队</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->


                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix"
                    style="background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);">
                    <ul class="nav navbar-top-links pull-left">

                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-view-list"></i>
                            </a>
                        </li>

                    </ul>
                    <ul class="nav navbar-top-links pull-left" style="display: flex;">

                        <h4 style=" font-weight: bold;font-size: large; margin-left: 10px; color:blanchedalmond;">
                            知识图谱可视化——made by计月清风实践队
                        </h4>
                        <img src="../static/images/完整官方图标.png" style="height: 40px;margin-left: 30px;">
                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">

                    <div class="row" style="height: 800px;" id="guanxi">

                        <script type="text/javascript">
                            window.onresize = function () {

                                myChart.resize();
                            }
                            $.ajaxSetup({ async: false });
                            var myChart = echarts.init(document.getElementById("guanxi"));
                            myChart.showLoading();
                            var rela = { "data": [], "links": [] };
                            $.getJSON('../static/data.json', function (json) {
                                rela = json;

                            });
                            myChart.hideLoading();
                            option = {
                                // backgroundColor: "white",
                                title: {
                                    text: '高中生物知识图谱',
                                    textStyle: {
                                        // color: "white",
                                        fontWeight: "bolder",
                                        color: 'lightslategray'
                                    }
                                },
                                animationDurationUpdate: 1500,
                                animationEasingUpdate: 'quinticInOut',
                                series: [
                                    {
                                        type: 'graph',
                                        layout: 'force',
                                        symbolSize: 45,
                                        edgeSymbol: ['circle', 'arrow'],
                                        edgeSymbolSize: [4, 4],
                                        edgeLabel: {
                                            normal: {
                                                show: true,
                                                textStyle: {
                                                    fontSize: 10
                                                },
                                                formatter: "{c}"
                                            }
                                        },
                                        force: {
                                            repulsion: 2500,
                                            edgeLength: [10, 100]
                                        },
                                        itemStyle: {
                                            normal: {
                                                color: '#ff9a9e' // 修改节点颜色
                                            }
                                        },
                                        focusNodeAdjacency: true,
                                        draggable: true,
                                        roam: true,
                                        label: {
                                            normal: {
                                                show: true,
                                                textStyle: {
                                                    fontSize: 12,
                                                    color: '#b12a5b ' // 修改节点文字颜色
                                                },
                                            }
                                        },
                                        force: {
                                            repulsion: 1000
                                        },
                                        tooltip: {
                                            formatter: function (node) { // 区分连线和节点，节点上额外显示其他数字
                                                if (!node.value) {
                                                    return node.data.name;
                                                } else {
                                                    return node.data.name + ":" + node.data.showNum;
                                                }
                                            },
                                        },
                                        lineStyle: {
                                            normal: {
                                                opacity: 0.9,
                                                width: 1,
                                                curveness: 0.3
                                            }
                                        },
                                        // progressiveThreshold: 700,
                                        nodes: rela.data.map(function (node, idx) {
                                            node.id = idx;
                                            return node;
                                        }),
                                        links: rela.links,



                                    }
                                ]
                            };
                            myChart.setOption(option, true);
                        </script>

                    </div>





                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->


            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">

                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap"
                        style="background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);">
                        <div class=" nano">
                            <div class="nano-content">

                                <ul id="mainnav-menu" class="list-group">



                                    <!--Category name-->
                                    <li class="list-header" style="height: 40px;">节点关系可视化</li>

                                    <!--Menu list item-->


                                    <!--Menu list item-->
                                    <li>
                                        <a href="{{ url_for('search') }}" style="background-image: #ffd1ff;">
                                            <i class="fa fa-search" style="width:35px;height: 40px"></i>
                                            <span class="menu-title">
                                                <strong
                                                    style="color: rgb(88, 137, 138); font-size: large;">检索节点关系</strong>
                                            </span>

                                        </a>


                                    </li>
                                    <li>
                                        <a href="{{ url_for('get_all_relation') }}" style="background-image: #ffd1ff;">
                                            <i class="fa fa-pie-chart" style="width:35px;height: 40px"></i>
                                            <span class="menu-title">
                                                <strong
                                                    style="color: rgb(88, 137, 138); font-size: large;">生物关系全貌</strong>
                                            </span>

                                        </a>

                                    </li>
                                    <!--Menu list item-->



                                    <li class="list-divider"></li>



                                </ul>



                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>
        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">
            <p class="pad-lft">Copyright&#0169; 计月清风实践队 &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved </p>
        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->

        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->

</body>

</html>